.home-page {
    color: inhertit;
    position: relative;
    height: 100vh;
}

.imageBg {
    background-image: url('../../Assets/Home-Page.png');
    object-fit: fit;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 0;
}

.imageBus {
    position: absolute;
    width: 17rem;
    left: 50vw;
    top: 35vh;
    z-index: 1;
    animation: busAnim 4s 200ms 5;
}

@keyframes busAnim {
    0% {
        width: 6rem;
        left: 50vw;
        top: 15vh;
    }

    100% {
        width: 17rem;
        left: 50vw;
        top: 35vh;
    }
}

.heading {
    position: relative;
    color: rgb(5, 5, 5);
    margin-top: 1rem;
    padding: 0rem 0rem;
    font-weight: 600;
    font-size: 3.1rem;
    -webkit-text-stroke: 2.5px rgba(0, 0, 0, 0.227);
    white-space: nowrap;
    animation: animate 5s 1s linear 5;
    overflow: hidden;
    /* border-right: 0px solid rgb(0, 0, 0); */
}


@keyframes animate {

    0% {
        width: 0%;
    }


    100% {
        width: 100%;
    }
}


.heading-bg {
    position: relative;
    margin: 0 auto;
    width: max-content;

}